// ********** SIZING *********** //

$size-list:(
    "100": 100%,
    "80": 80%,
    "60": 60%,
    "50": 50%,
    "40": 40%,
    "20": 20%,
);


@each $name, $value in $size-list {
    .w-#{$name} {
        width: $value ;
    }
    .h-#{$name} {
        height: $value;

    }
}



/*************** SIZE LIST ***************/
$size-list: (
    "xxs": 0.125rem,
    "xs": 0.25rem, 
    "sm": 0.5rem, 
    "md": 1rem,
    "lg": 1.5rem,
    "xl": 2rem,
    "2xl": 3rem,
);


@each $name,
$value in $size-list {
    .p-#{$name} {
   
        padding: $value;
    }
    .m-#{$name} {
        margin: $value;
    }
    // .pt-#{$name} {
    //     padding-top: $value;
    // }
    // .pb-#{$name} {
    //     padding-bottom: $value;
    // }

    // .pl-#{$name} {
    //     padding-left: $value;
    // }
    // .pr-#{$name} {
    //     padding-right: $value;
    // }
}
