/*************** COLORS ***************/
$blue: #054A89;
$blue-dark: #427DA6;
$blue-light: #3B9AF0;
$red: #FF0000;
$red-dark: #C10000;
$cyan: #E5EEEF;
$cyan-light: #E7F5FF;
$cyan-dark: #C8E7EB;
$green: #1D7D74;
$green-dark: #22514C;
$green-light: #00B89F;
$orange: #EE8030;
$yellow: #FFE81D;
$slate: #1D2932;


// ******** black and white ********** // 
$white: #FFFFFF;
$black: #000000;

// ******** GRAY ********** // 
$gray-100 : #F5F5F5;
$gray-200 : #BEBEBE;
$gray-300 : #E5E5E5;
$gray-400 : #E9E9E9;
$gray-600 : #C4C4C4;
$gray-700 : #D0D0D0;
$gray-800 : #808080;
$gray-900 : #343434;


// ******** vars ********** // 
$primary: $blue;
$primary-dark: $blue-dark;
$primary-light: $blue-light;

$secondary: $cyan;
$secondary-dark: $cyan-dark;

$success: $green;
$success-dark: $green-dark;
$success-light: $green-light;

$warning: $orange;

$error: $red;
$error-dark: $red-dark;

$muted: $gray-400;


// ******** List ********** // 

$theme-colors: (
    "primary": $primary,
    "primary-dark": $primary-dark ,
    "primary-light": $primary-light ,
    "secondary": $secondary ,
    "secondary-dark": $secondary-dark ,
    "success": $success ,
    "success-dark": $success-dark ,
    "warning": $warning ,
    "error": $error ,
    "error-dark": $error-dark ,
    "muted": $muted ,
    "white": $white ,
    "black": $black ,


);


