.rotate-180 {
    transform: rotate(-180deg);
    transition: 200ms transform ease-in-out;
}


.hidden {

   display: none;

}



.menu {

    display: flex;
    gap: 0.5rem;
    align-items: center;
    // cursor: pointer;
    position: relative;

    .menu-cont {
        position: absolute;
        margin: 0;
        min-width: max-content;

        &.hidden {
            display: none;

            div {
                display: none;

                max-height: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        // &.show{
        //     div{
        //         max-height: min-content;
        //         transition: 200ms max-height ease-in-out;
        //     }
        // }




        &.left {
            top: 0rem;
            left: 110%;
        }

        &.right {
            top: 0rem;
            right: 110%;
        }

        &.down {
            top: 110%;
            left: 0rem;

        }



    }
}