.skeleton {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    width: 100%;

    color: v.$gray-800;
    text-align: center;

    .skeleton-content, .skeleton-header, .skeleton-card {
        width: 100%;
        background-color: v.$gray-400;
        border-radius: v.$radius-md;
        margin: 0.5rem 0px;
        display: grid;
        place-content: center;
    }

    .skeleton-header{
        height: 2.25rem;

    }

    .skeleton-avatar{
        min-width: 7.5rem;
        min-height: 7.5rem;
        background-color: v.$gray-400;
        border-radius: v.$radius-lg;
        margin: 1rem;
        display: grid;
        place-content: center;
    }

    .skeleton-content {
        height: 1.25rem;
    }

    .skeleton-card{
        height: 6.25rem;
        display: flex;
        display: grid;
        place-content: center;
       
    }

    .skeleton-card-group{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        
        gap: 1rem;
    }
}