$position: (
    "t": top,
    "b": bottom,
    "l": left,
    "r": right,
);

.bdg {
    padding: 4px 8px;
    border-radius: v.$radius-sm;

    @each $position-name,
    $position in $position {

        &.inset-#{$position-name}{
            $position: 0

        }

    }







}