
.rounded-sm{
    border-radius: v.$radius-sm;
}

.rounded-md{
    border-radius: v.$radius-md;
}

.rounded-lg{
    border-radius: v.$radius-lg;
}


.box-dashed{
    // border: 1px dashed  #7B61FF;
    border: 4px dashed #7B61FF;
    @extend .rounded-sm;
    padding: 20px 32px;

}