@import 'inputs';


.form-group {
    display: flex;
    gap: 10px;
}


//**** INPUTS *****//



@mixin inset($top: auto, $right: auto, $bottom: auto, $left: auto) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

.input-check {
    /* ...existing styles */
    display: grid;
    position: relative;
    place-content: center;
    visibility: hidden;
    width: 1rem;
    height: 1rem;
    accent-color: white;

    &:hover{
        cursor: pointer;
        &::after{
            visibility: visible;
            box-shadow: 0 0 5px 2px v.$primary-light;
        }
    }
    


    &::after {
        content: "";
        visibility: visible;
        position: absolute;
        // @include inset(0,0,0,0);

     
        width: 1rem;
        height: 1rem;
        border: solid 1px v.$primary;

        border-radius: 4px;


    }

    &::before {
        visibility: visible;
        width: 1rem;
        height: 1rem;
        content: "";
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background: v.$primary;
        border-radius: 2px;
        // box-shadow: inset 1em 1em v.$primary;
    
        
    }

    &:checked::before {
        transform: scale(0.6);
    }
}



.input-check1 {
    /* ...existing styles */
    // display: grid;
    place-content: center;
    position: relative;
    accent-color: white;
    display: flex;
    // outline: v.$primary solid 2px ;
    // outline-offset: -2px;
    // visibility: hidden;
    border: none;
    border-radius: 5px;
    // box-shadow: 0 0 0 2px v.$primary;
    width: 1em;
    height: 1em;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5px 2px v.$primary-light;
        visibility: visible;
    }

    &::after {
        content: "";
        visibility: visible;
        position: absolute;

        // @include inset(0,0,0,0);
        top: 0;
        bottom: 0;
        left: 0px;
        right: 0px;
        width: 1rem;
        height: 1rem;
        border: solid 2px v.$primary;
        border-radius: 4px;


    }

    &::before {
        visibility: visible;

        content: "";
        transform: scale(0);
        position: absolute;
        width: 1em;
        height: 1em;
        background-color: v.$primary;
        // box-shadow: inset 1px 1px v.$primary;
        // border: 1px v.$primary solid;
    }

    &:checked {

        &::before {
            transition: transform ease-in-out;
            transform: scale(0.8);

        }
    }


}